/**
 * ===========================
 * Game Screen Component
 * ===========================
 */

game-screen {
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	overflow-y: hidden;
	position: relative;
	background-color: #000000;
	user-select: none;

	img {
		position: absolute;
		max-height: 90%;
	}

	[data-image] {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;

		.bottom {
			top: auto;
		}

		.left {
			right: auto;
		}

		.right {
			left: auto;
		}

		.top {
			bottom: auto;
		}
	}

	[data-character] {
		bottom: 0;
		position: absolute;
		max-width: 100%;
		max-height: 95vh;
	}

	[data-sprite] {
		margin: 0 auto;
		left: 0;
		right: 0;

		&.right {
			left: initial;
			right: 0;
		}

		&.left {
			left: 0;
			right: initial;
		}

		&.leftish {
			right: 55%;
		}

		&.rightish {
			left: 55%;
		}

		&.tower {
			 max-height: 100vh;
		 }


/* left: 50%;
transform: translateX(-50%);

&.right {
	left: 100%;
	transform: translateX(-100%);
}

&.left {
	left: 0%;
	transform: translateX(0%);
}

&.move {
	transition:all 0.2s ease;
} */
	}

	[data-canvas] {
		&.character {
			@extend [data-screen='game'] [data-character];
		}

		&.immersive {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}